body {
  margin: 0;
  font-family: "Agency FB", "Courier New";
  background-image: linear-gradient(to right, rgba(0,200,255,1), rgba(0,200,200,1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

